name: Build and Push Docker Image to DockerHub

on:
  push:
    branches:
      - main

env:
  DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USER }}
  DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Build Frontend Docker Image
        run: |
          cd mercor-frontend
          docker build -t "${DOCKERHUB_USERNAME}/${{ github.event.repository.name }}-frontend:${{ github.run_number}}" -f Dockerfile.frontend .
      - name: Build Backend Docker Image
        run: |
          cd mercor-backend
          docker build -t "${DOCKERHUB_USERNAME}/${{ github.event.repository.name }}-backend:${{ github.run_number}}" -f Dockerfile.backend .
      - name: Login to DockerHub
        run: echo "${DOCKERHUB_TOKEN}" | docker login -u "${DOCKERHUB_USERNAME}" --password-stdin
      - name: Push Frontend Docker Image to DockerHub
        run: docker push "${DOCKERHUB_USERNAME}/${{ github.event.repository.name }}-frontend:${{ github.run_number}}"
      - name: Push Backend Docker Image to DockerHub
        run: docker push "${DOCKERHUB_USERNAME}/${{ github.event.repository.name }}-backend:${{ github.run_number}}"
      
      - name: Run OWASP Dependency Check
        run: |
          wget https://github.com/jeremylong/DependencyCheck/releases/download/v6.4.0/dependency-check-6.4.0-release.zip
          unzip dependency-check-6.4.0-release.zip
          cd dependency-check/bin
          ./dependency-check.sh --project "My Project" --scan .

      - name: Generate OWASP Dependency Check report
        run: |
          cd dependency-check/bin
          ./dependency-check.sh --project "My Project" --out reports --format HTML

      - name: Upload report artifact
        uses: actions/upload-artifact@v2
        with:
          name: OWASP-Dependency-Check-Report
          path: ./reports/
          
  
